body {
    background: black; 
    color: #DDDDDD;
    /* background: white;
    color: black; */
    font-family: Courier New, Courier, monospace;
    font-size: 15px;
}

a {
    color: #AE00FF;
}

hr {
    height: 2px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 50%;
}

#footer {
    padding-top: 30px;
    margin: 0 auto;
}
